// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > header {
  cursor: pointer;
}

header > hgroup > h1 {
  color: white;
}

a {
  color: #919 !important;
}

.inline-errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%
}

.apps .app.icon > a {
  color: #333 !important;
}

.apps .app.icon {
  text-align: center;
}